/*Var*/
:root {
  --b-color: #2196F3;
  --f-color: #2F303A;
  --gr-color: #757575;
  --wh-color: #FFFFFF;
  --indent: 30px;
  --items:1;
}

.studio-black {
  color: #000;
}

.studio-white {
  color: var(--wh-color);
}

/* visually-hidden hide elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.f-lab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-min {
  margin: 0;
  padding-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .section-min {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section-min {
    padding-top: 94px;
    padding-bottom: 24px;
  }
}

.section__header {
  padding-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1119px) {
  .section__header {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__header {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.section-invert {
  background-color: #F5F4FA;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--b-color);
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 93px;
  }
}

.studio-black {
  color: #000;
}

.studio-white {
  color: var(--wh-color);
}

.hero {
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--f-color);
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bgimg-sm.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bgimg-sm.jpg");
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bgimg-sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bgimg-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bgimg-md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bgimg-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bgimg-md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bgimg-md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bgimg-lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bgimg-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bgimg-lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bgimg-lg@2x.jpg);
  }
}

.hero__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  line-height: 1.61;
  font-size: 26px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: var(--wh-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__header {
    line-height: 1.61;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero__header {
    line-height: 1.61;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__header {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__button {
    margin-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    margin-bottom: 200px;
  }
}

.body-fonts {
  font-family: "Roboto";
  font-weight: 400;
  color: var(--gr-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--b-color);
  color: var(--wh-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 0;
  margin: 0;
}

.forms__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.forms__button:hover, .forms__button:focus {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

/*.forms__button:hover,
.forms__button:focus {
    cursor: pointer;
    background-color: transparent;
    outline: none;
}*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.backdrop.is-hidden .form {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*.backdrop.is-hidden .form {
    transform: translate(-50%, -50%) scale(0.5);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}*/
.form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  text-transform: none;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--gr-color);
}

.form__header {
  margin-bottom: 12px;
  padding: 0;
  width: 370px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .form__header {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__header {
    width: 448px;
  }
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin: 0;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}
.form__input:hover {
  cursor: pointer;
  border-color: var(--b-color);
}
.form__input:focus-within + .icon-form {
  fill: var(--b-color);
}
.form__input:focus {
  background-color: transparent;
  outline: none;
  border-color: var(--b-color);
}

.form__input-comment {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form__input-comment {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input-comment {
    width: 448px;
    margin-bottom: 30px;
  }
}
.form__input-comment:focus {
  background-color: transparent;
  outline: none;
  border-color: var(--b-color);
}
.form__input-comment::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment:hover {
  border-color: var(--b-color);
}

.form__link-agreement {
  color: var(--b-color);
}

.form__clsbtn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--wh-color);
  cursor: pointer;
}
.form__clsbtn:hover .form--close-action {
  fill: var(--b-color);
}

.form--close-action {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox--input:checked + .icon-checkbox {
  border-color: rgb(24, 140, 232);
  background-color: rgb(24, 140, 232);
  background-image: url("../images/fly.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__input:hover + .icon-form {
  fill: var(--b-color);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form--position {
  position: absolute;
  top: -27px;
  left: 15px;
}

.icon-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  margin-right: 3px;
  padding-top: 4px;
}
@media screen and (min-width: 1200px) {
  .icon-checkbox {
    margin-right: 8px;
  }
}

.benefits {
  padding-left: 0;
  padding-right: 0;
}

.benefits__list {
  --items:1;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    --items:4;
  }
}

.benefits__header {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .benefits__header {
    text-align: center;
  }
}

.benefits__content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gr-color);
}

.benefits__block {
  margin: 0;
  display: block;
  width: 100%;
}
.benefits__block .benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*.benefits__icon:last-child {
    margin-right: 0;
}*/
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.services__img {
  display: block;
}
.services__text {
  margin: 0;
  font-family: "Roboto";
  padding-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wh-color);
}

.services__card-set {
  margin-top: 50px;
}

.work3 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .section--hidden {
    padding: 0;
  }
}

.wert {
  display: block;
  z-index: -1;
  position: relative;
}

.clients__main {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients__main {
    margin-top: 30px;
  }
}

.clients__list {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --items:2;
}
@media screen and (min-width: 768px) {
  .clients__list {
    --items:3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --items:6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture-client {
  fill: rgb(175, 177, 184);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list:hover .picture-client {
  fill: var(--b-color);
}

.clients__list:hover {
  border: 1px solid var(--b-color);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-webs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.links-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: rgb(175, 177, 184);
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pic {
  display: block;
  fill: currentColor;
}

.links-s:hover, .links-s:focus {
  color: var(--wh-color);
  background-color: var(--b-color);
}

.footer-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.footer {
  background-color: var(--f-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-left {
  display: block;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .footer-left {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-left {
    margin-left: 0px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-right {
    margin-left: 165px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-right {
    margin-bottom: 0;
    margin-right: 90px;
    margin-left: 70px;
  }
}

.logo-f__position {
  margin-bottom: 20px;
}

.footer__adress-link a {
  color: var(--wh-color);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  gap: 8px;
  margin-bottom: 9px;
}

.footer__email-tel a {
  color: rgba(255, 255, 255, 0.6);
}

.footer__common {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wh-color);
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__common {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__common {
    text-align: left;
  }
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-webs--position {
  margin-bottom: 60px;
}

.footer__icons--white {
  fill: var(--wh-color);
}

.footer__social-links:hover,
.footer__social-links:focus {
  fill: var(--wh-color);
  background-color: var(--b-color);
}

.footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-right: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.window-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
  max-width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .window-mail {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .window-mail {
    margin-bottom: 20px;
    width: 450px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .window-mail {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
    margin-left: 0;
  }
}

.check {
  position: relative;
}

.checker {
  margin-left: 29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer__button--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.icon-flyer {
  position: absolute;
  right: 26px;
  top: 13px;
  fill: var(--wh-color);
}

.roof {
  background: var(--wh-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav > .item-link:not(:last-child) {
  margin-right: 50px;
}

.item-link {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-right--retreat {
    margin-left: auto;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right a {
  margin-left: 30px;
  padding: 0;
  color: var(--gr-color);
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right a:hover,
.header-right a:focus {
  color: var(--b-color);
  text-decoration: none;
}

.header-right a:hover .icon-mail {
  fill: var(--b-color);
}

.header-right a:focus .icon-mail {
  fill: var(--b-color);
}

.header-right a:hover .icon-phone {
  fill: var(--b-color);
}

.header-right a:focus .icon-phone {
  fill: var(--b-color);
}

.f-lab__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .f-lab__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768), (max-width: 1199px) {
  .header-right__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  .header-right__tab {
    display: none;
  }
}

.link-hi::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  /*align-items: center;*/
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-hi:hover.link-hi::after, .link-hi:focus.link-hi::after {
  background-color: var(--b-color);
}

.current-link .link-hi::after {
  background-color: var(--b-color);
}

.link-hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav a {
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--b-color);
  text-decoration: none;
}

.site-nav-right a {
  margin-left: 30px;
  color: var(--gr-color);
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-right a:hover,
.site-nav-right a:focus {
  color: var(--b-color);
  text-decoration: none;
}

.site-nav-right a:hover .icon-mail {
  fill: var(--b-color);
}

.site-nav-right a:focus .icon-mail {
  fill: var(--b-color);
}

.site-nav-right a:hover .icon-phone {
  fill: var(--b-color);
}

.site-nav-right a:focus .icon-phone {
  fill: var(--b-color);
}

.site-nav-right {
  margin-left: auto;
  margin-right: 0;
} /*?*/
.site-nav-right-tel {
  margin-left: 31px;
}

.current-link a {
  color: var(--b-color);
}

.f-lab li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-mail {
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--b-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-burger {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
  z-index: 100;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-mail, .site-nav-tel {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-mail a {
  color: rgb(117, 117, 117);
}

.mobile-menu-contacts-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-contacts-item .accent {
  font-size: 34px;
  line-height: 1.18;
  color: var(--b-color);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu-socials a {
  color: var(--b-color);
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.personal-hdr {
  display: block;
  min-width: 264px;
  margin-left: auto;
  margin-right: auto;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.personal-item {
  display: block;
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: var(--wh-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.advice {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal-name {
  display: block;
  padding-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
}

.personal-position {
  display: block;
  padding-bottom: 16px;
  padding-left: auto;
  padding-right: auto;
}

.personal-img {
  display: block;
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .personal-img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .personal-img {
    width: 270px;
    height: 260px;
  }
}

.position p {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gr-color);
}

.staff__list {
  --items:1;
}
@media screen and (min-width: 768px) {
  .staff__list {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .staff__list {
    --items:4;
  }
}

.section-portfolio {
  display: block;
  padding-bottom: 94px;
  margin: 0;
}

.portfolio-f-set {
  --indent: 30px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items:1;
}
@media screen and (min-width: 768px) {
  .portfolio-f-set {
    --items:2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-f-set {
    --items:3;
  }
}

.portfolio-main .portfolio-f-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.portfolio-main h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-links a {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--gr-color);
}

.box-shadow {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-shadow:hover,
.box-shadow:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.box-shadow-filter {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-shadow-filter:hover, .box-shadow-filter:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: transparent;
}

.img-card {
  display: block;
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .img-card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .img-card {
    width: 370px;
  }
}

.card-about {
  margin-top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tehnokryak {
    margin-bottom: 36px;
  }
}

.card-about:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-thumb-design {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--wh-color);
}

.portfolio-f-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filters-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filters-position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.btn-dist {
  margin-right: 8px;
  margin-bottom: 0px;
  padding: 6px 22px;
}
@media screen and (max-width: 767px) {
  .btn-dist {
    margin-bottom: 15px;
  }
}

.filters-position:last-child {
  margin-right: 0;
}

.btn-filters button {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, pointer;
  transition-property: color, background-color, pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filters button:hover, .btn-filters button:focus,
.btn-filters a:focus {
  background-color: var(--b-color);
  color: var(--wh-color);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */