/*Var*/
:root {
    --b-color: #2196F3;
    --f-color: #2F303A;
    --gr-color: #757575;
    --wh-color: #FFFFFF;
    --indent: 30px;
    --items:1;
}


.studio-black {
    color: #000;
}

.studio-white {
    color: var(--wh-color);
}