.benefits {
    // display: flex;
    // justify-content:space-between;
    padding-left: 0;
    padding-right: 0;
   


}

// .benefits__list{
//     display: flex;
// 	flex-wrap: wrap;
// 	gap: 30px;
// }
.benefits__list{
    --items:1;

    @media screen and (min-width: 768px) {
		--items:2;}

    @media screen and (min-width: 1200px) {
       --items:4;}
    
}
.benefits__header {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#212121;
    text-align: left;

    @media screen and (max-width: 480px) {
        text-align: center; 
    }

}
.benefits__content p {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gr-color);


}
.benefits__block {
    margin: 0;
    display: block;
    width: 100%;
    
    
   
.benefits__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    
   
    width: 100%;
    background-color: #F5F4FA;
    border-radius: 4px;
    // margin-bottom: 30px;
    border-radius: 4px;
    object-fit: cover;

//     &:last-child {
//         margin-right: 0;
//     }
// }
}}
/*.benefits__icon:last-child {
    margin-right: 0;
}*/