.clients__main{
    padding:0;
    display: flex;
    // margin-top: 60px;
    // margin-bottom: 60px;
    gap: 30px;

    // @media screen and (min-width: 480px) {
	//     margin-top: 60px;
    //     margin-bottom: 60px;
        
	// }

	@media screen and (min-width: 768px) {
		margin-top: 30px;
        // margin-bottom: 30px;
	}
    // @media screen and (min-width: 1200px) {
	// 	margin-top: 50px;
    //     margin-bottom: 0;
	// }

    }

    .clients__list{
        
        
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        align-items: center;
        justify-content: center;

        --items:2;

    @media screen and (min-width: 768px) {
		--items:3;}

    @media screen and (min-width: 1200px) {
       --items:6;}
    }
    
    // .client-list:last-child{
    //     margin-right: 0;
    // }
    .clients__link{
        display:flex;
        height: 92px;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .picture-client{
        fill:rgba(175, 177, 184, 1);
        display:block;
        
        object-fit: contain;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .clients__list:hover .picture-client
    {
        fill: var(--b-color);
    }
    .clients__list:hover{
        border: 1px solid var(--b-color);
    }

    .social-link{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .social-webs{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
    
    .links-s{
       display:flex;
       justify-content: center;
       align-items: center;
       width: 44px;
       height: 44px;
       color: rgba(175, 177, 184, 1);
       border-radius: 50%;
    
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .pic{
        display:block;
        fill:currentColor;
    }
    
    .links-s:hover,.links-s:focus {
        color:var(--wh-color);
        background-color: var(--b-color);
    }