.section {
    margin:0;
    padding-bottom: 30px;
    padding-top: 30px; 

    
@media screen and (min-width: 480px) {
	    padding-top: 60px;
        padding-bottom: 60px;
        
	}

@media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
}

}

.section-min {
    margin:0;
    padding-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media screen and (min-width: 480px) {
	    padding-top: 60px;
        padding-bottom: 60px;
        
	}
    @media screen and (min-width: 1200px) {
	    padding-top: 94px;
        padding-bottom:24px;
        
	}

}

// .section--distance{
//     padding-top: 94px;
// }

.section__header {

    padding-top: 0;
    // margin-bottom: 50px;
    

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    @media screen and (max-width: 1119px) {
        font-size: 28px;
        line-height: 1.18;
        margin-bottom: 30px;
	}
    
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
	}

}

.section-invert {
    background-color: #F5F4FA;
}